body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

* {
    box-sizing: border-box;
}

form a {
    color: rgb(12, 124, 12);
}

.center {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

.register {
    width: 500px;
    padding: 16px;
    margin: 44px auto 0px;
    background-color: #fff;
}

.register p {
    margin: 10px 0;
}

.register h1:hover {
    color: rgb(238, 32, 84);
    cursor: pointer;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 4px 0 20px;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 24px;
}

.submit {
    background-color: rgb(0, 16, 241);
    color: #fff;
    padding: 15px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.submit:hover {
    opacity: 1;
}

.login {
    background-color: #fff;
    text-align: center;
    width: 500px;
    padding: 16px;
    margin: 0px auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
}