:root{
  --white: #fff;
  --black: #222;
  --pink: #f60091;
  --grey: #444;
  --grey2: #959595;
  --grey-alt: #d1e2e9;
  --yellow: #ffd800;
  --green: #59b210;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;		
}
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;  
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  z-index: -1; 
}
li,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.container {
  max-width: 114rem;                                  /*114x10 =  1140px*/
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }																/*define width for container - media queries*/
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

/*Navigation*/
.container {
  max-width: 1140px;                                  /*114x10 =  1140px*/
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }																/*define width for container - media queries*/
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
.navigation{
	padding:  16px 0;    /*1.6 x 10 = 16px*/

}

.nav-center{
	display: flex;
  	align-items: center;
  	justify-content: space-between;
}		

.logo{
	color: #1e1e27;
}	
.logo span{
	color: #fe4c50;
}	

.nav-top{
	display: none;
}

.nav-list{
	display: flex;
	align-items: center;
}

.navigation {
  position: fixed;														
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-item:not(:last-child){
	margin-right: 5px;  				/*0.5x10=5px*/

}
.nav-item{
	padding: 0 10px;
}

.nav-link{
	position: relative;
	display: inline-block;
	padding: 5px 0 2px;
	font-size: 15px;
	color: #222;
	text-transform: uppercase;
	transition: all 500ms ease-in-out;
}

.nav-link::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	top: 100%;
	left: 0;
	background-color: #f60091;
	transition: transform 500ms;
	transform: scaleX(0);					/*scalex decrease or increase width*/
	transform-origin: top;	
}
.nav-link:hover::after{
	transform: scaleX(1);
	transform-origin: left;
}


.nav-icons span:not(:last-child){
	margin-right: 5px;
}
.nav-icons span{
	font-size: 16px;
	border-radius: 50%;
	border: 1px solid #444;
	padding: 3px 7px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
.nav-icons span a{
	color: black;									/*set the icon to black*/
}
.nav-icons span:hover{
	background-color: #f60091;
}


/*.checkout_items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;						
	top: 10px;
	left: 1192px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fe4c50;
	font-size: 12px;
	color: #ffffff;
}*/



.nav-icons .fas{
	transition: all 300ms ease-in-out;
}
.nav-icons span:hover .fas{
	color: #fff;
}

.hamburger{
	display: none;										/*hide the hamburger until the width is <=768px*/
}


										/*Navbar responsive*/							

@media only screen and (max-width: 996px){
	.nav-item:not(:last-child){
		margin-right: 3px;
	}
	.nav-item{
		padding: 0 5px;
	}

	.nav-link{	
	font-size: 14px;
	}
	.nav-icons span{
		font-size: 12px;
		padding: 3px 7px;
	}

}

@media only screen and (max-width: 768px){								/*hamburger change*/
	.navigation.show{
		background-color: rgba(0, 0, 0, 0.6);
	}

	.nav-menu{
		position: fixed;
		top: 0;
		left: -100%;
		width: 80%;
		height: 100vh;
		z-index: 9990;
		background-color: #fff;
		transition: all 500ms linear;
	}


	.nav-menu.show{
		left: 0;
	}

	.nav-list{
		flex-direction: column;
		align-items: start;
		padding: 20px 0;
	}

	.nav-top{													/*Push the logo*/
		display: flex;
		 justify-content: space-between;
		 align-items: center;
		 background-color: #ffd800;
		 padding: 16px 20px;
	}

	.nav-top .logo h1{
		font-size: 18px;
		font-weight: 500;
	}

	.nav-top .logo span{
		color: #fe4c50;
	}
	.hamburger{
		display: block;
		font-size: 25px;
		cursor: pointer;
	}

	.close{
		font-size: 20px;
		color: #fff;
		cursor: pointer;
	}

	.nav-item:not(:last-child){
		margin-bottom: 10px;
	}

	.nav-link{
		font-size: 18px;
		width: 100%;
		padding: 10px 20px;
	}
	.nav-icons span{
		display: none;
		border: none;
		font-size: 16px;
	}
	.nav-icons span:last-child{
		display: block;
	}

	body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
}





/*Footer*/

.footer{
	background-color: #222;
	padding: 60px 10px 10px 10px;
	line-height: 30px;
	margin-top: 50px;
}									

.footer-center span{
	 margin-right: 10px;
}	


.footer-container{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	color: #fff;

}

.footer-center a:link, .footer-center a:visited{
	display: block;
	color: grey;
	font-size: 14px;
	transition: 600ms;
}

.footer-center a:hover{
	color: red;
}

.footer-center div{
	font-size: 14px;
}

.footer-center h3{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}

.footer .social-media {
	margin-top: 20px;
	text-align: right;
	margin-right: -30px;
}
.footer .icon h3{
	display: inline;
	color: #fff;
}
.footer .icon a{
	margin-left: 30px;
}
.footer .icon{


}
.footer .icon i{
	font-size: 30px;
	color: #fff;
	transition: all 300ms ease-in-out;
}

.footer .icon i:hover{
	color: red;
}


@media only screen and (max-width: 768px){
	.footer-container{
		grid-template-columns: repeat(2,1fr);
		row-gap: 20px;																	/*set gap between rows in flexbox*/
	}
}

@media only screen and (max-width: 567px){
	.footer-container{
		grid-template-columns: repeat(1,1fr);
	}
	.footer .icon a{
		margin-left: 10px;
	}
}



section.finding {
	margin-top: 6rem;
	margin-bottom: -5rem;
	background: url(../../images/TranTrungHieu_images/SearchPageimg/stay-informed-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
}
.finding .container .inner-content{
		text-align: center;
		padding-top: 10rem;
}
.finding .title{
	font-size: 3rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
}
.finding form input,.finding form span{
	margin-left: 2rem;
}
.finding form input{
	width: 50%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
}

.finding form span i {
	font-size: 3rem;
	color: var(--black);
}

section.cart {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
table {
    width: 100%;
}
table thead tr th:first-of-type {
    text-align: left;
    padding-left: 30px;
}
sup {
    color: red;
}
section.cart {
    position: fixed;
    top: 0;
    height: 800px;
    width: 400px;
    background-color:   rgba(255,150,197,0.9);
    padding: 12px 20px;
    margin-top: 70px;
    overflow-y: scroll;
    right: -100%;
}
section.cart i {
    cursor: pointer;
    margin-bottom: 10px;
}
.purchase-cart {
    background-color: red;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.purchase-cart:hover {
    background-color: blue;
}
table tbody tr td {
    font-size: 12px;
}