:root{
  --white: #fff;
  --black: #222;
  --pink: #f60091;
  --grey: #444;
  --grey2: #959595;
  --grey-alt: #d1e2e9;
  --yellow: #ffd800;
  --green: #59b210;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;			/*default is 16px -->  62.5% x 16 = 10 -->1rem =10  / 2rem =20*/
}
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;   /* 1.6 x 10 =16*/
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  z-index: -1;   /* behind*/
}
li,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.container {
  max-width: 114rem;                                  /*114x10 =  1140px*/
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }																/*define width for container - media queries*/
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

/*Navigation*/
.container {
  max-width: 1140px;                                  /*114x10 =  1140px*/
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }																/*define width for container - media queries*/
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
.navigation{
	padding:  16px 0;    /*1.6 x 10 = 16px*/

}

.nav-center{
	display: flex;
  	align-items: center;
  	justify-content: space-between;
}		

.logo{
	color: #1e1e27;
}	
.logo span{
	color: #fe4c50;
}	

.nav-top{
	display: none;
}

.nav-list{
	display: flex;
	align-items: center;
}

.navigation {
  position: fixed;														
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-item:not(:last-child){
	margin-right: 5px;  				/*0.5x10=5px*/

}
.nav-item{
	padding: 0 10px;
}

.nav-link{
	position: relative;
	display: inline-block;
	padding: 5px 0 2px;
	font-size: 15px;
	color: #222;
	text-transform: uppercase;
	transition: all 500ms ease-in-out;
}

.nav-link::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	top: 100%;
	left: 0;
	background-color: #f60091;
	transition: transform 500ms;
	transform: scaleX(0);					/*scalex decrease or increase width*/
	transform-origin: top;	
}
.nav-link:hover::after{
	transform: scaleX(1);
	transform-origin: left;
}


.nav-icons span:not(:last-child){
	margin-right: 5px;
}
.nav-icons span{
	font-size: 16px;
	border-radius: 50%;
	border: 1px solid #444;
	padding: 3px 7px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
.nav-icons span a{
	color: black;									/*set the icon to black*/
}
.nav-icons span:hover{
	background-color: #f60091;
}


.checkout_items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;						
	top: 10px;
	left: 1192px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fe4c50;
	font-size: 12px;
	color: #ffffff;
}



.nav-icons .fas{
	transition: all 300ms ease-in-out;
}
.nav-icons span:hover .fas{
	color: #fff;
}

.hamburger{
	display: none;										/*hide the hamburger until the width is <=768px*/
}


										/*Navbar responsive*/							

@media only screen and (max-width: 996px){
	.nav-item:not(:last-child){
		margin-right: 3px;
	}
	.nav-item{
		padding: 0 5px;
	}

	.nav-link{	
	font-size: 14px;
	}
	.nav-icons span{
		font-size: 12px;
		padding: 3px 7px;
	}

}

@media only screen and (max-width: 768px){								/*hamburger change*/
	.navigation.show{
		background-color: rgba(0, 0, 0, 0.6);
	}

	.nav-menu{
		position: fixed;
		top: 0;
		left: -100%;
		width: 80%;
		height: 100vh;
		z-index: 9990;
		background-color: #fff;
		transition: all 500ms linear;
	}


	.nav-menu.show{
		left: 0;
	}

	.nav-list{
		flex-direction: column;
		align-items: start;
		padding: 20px 0;
	}

	.nav-top{													/*Push the logo*/
		display: flex;
		 justify-content: space-between;
		 align-items: center;
		 background-color: #ffd800;
		 padding: 16px 20px;
	}

	.nav-top .logo h1{
		font-size: 18px;
		font-weight: 500;
	}

	.nav-top .logo span{
		color: #fe4c50;
	}
	.hamburger{
		display: block;
		font-size: 25px;
		cursor: pointer;
	}

	.close{
		font-size: 20px;
		color: #fff;
		cursor: pointer;
	}

	.nav-item:not(:last-child){
		margin-bottom: 10px;
	}

	.nav-link{
		font-size: 18px;
		width: 100%;
		padding: 10px 20px;
	}
	.nav-icons span{
		display: none;
		border: none;
		font-size: 16px;
	}
	.nav-icons span:last-child{
		display: block;
	}

	body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
}





/*Footer*/

.footer{
	background-color: #222;
	padding: 60px 10px 10px 10px;
	line-height: 30px;
	margin-top: 50px;
}									

.footer-center span{
	 margin-right: 10px;
}	


.footer-container{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	color: #fff;

}

.footer-center a:link, .footer-center a:visited{
	display: block;
	color: grey;
	font-size: 14px;
	transition: 600ms;
}

.footer-center a:hover{
	color: red;
}

.footer-center div{
	font-size: 14px;
}

.footer-center h3{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}

.footer .social-media {
	margin-top: 20px;
	text-align: right;
	margin-right: -30px;
}
.footer .icon h3{
	display: inline;
	color: #fff;
}
.footer .icon a{
	margin-left: 30px;
}
/* .footer .icon{} */



.footer .icon i{
	font-size: 30px;
	color: #fff;
	transition: all 300ms ease-in-out;
}

.footer .icon i:hover{
	color: red;
}


@media only screen and (max-width: 768px){
	.footer-container{
		grid-template-columns: repeat(2,1fr);
		row-gap: 20px;																	/*set gap between rows in flexbox*/
	}
}

@media only screen and (max-width: 567px){
	.footer-container{
		grid-template-columns: repeat(1,1fr);
	}
	.footer .icon a{
		margin-left: 10px;
	}
}









/* Style for cart */
/* Global settings */
 



.product-image {
	float: left;
	width: 20%;
  }
   
  .product-details {
	float: left;
	width: 37%;
  }
   
  .product-price {
	float: left;
	width: 12%;
  }
   
  .product-quantity {
	float: left;
	width: 10%;
  }
   
  .product-removal {
	float: left;
	width: 9%;
  }
   
  .product-line-price {
	float: left;
	width: 12%;
	text-align: right;
  }
   
  /* This is used as the traditional .clearfix class */
  .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
  .group:after,
  .shopping-cart:after,
  .column-labels:after,
  .product:after,
  .totals-item:after {
	content: '';
	display: table;
  }
   
  .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
	clear: both;
  }
   
  .group, .shopping-cart, .column-labels, .product, .totals-item {
	zoom: 1;
  }
   
  /* Apply clearfix in a few places */
  /* Apply dollar signs */
  .product .product-price:before, .product .product-line-price:before, .totals-value:before {
	content: '$';
  }
   
 
   
  h1 {
	font-weight: 100;
  }
   
  label {
	color: #aaa;
  }
   
  .shopping-cart {
    margin-top: 30px;
	  margin-right: 30px;
  }
   
  /* Column headers */
  .column-labels label {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
  }
  .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
	text-indent: -9999px;
  }
   
  /* Product entries */
  .product {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
  }
  .product .product-image {
	text-align: center;
  }
  .product .product-image img {
	width: 120px;
  }
  .product .product-details .product-title {
	margin-right: 20px;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  .product .product-details .product-description {
	margin: 5px 20px 5px 0;
	line-height: 1.4em;
  }
  .product .product-quantity input {
	width: 40px;
  }
  .product .remove-product {
	border: 0;
	padding: 4px 8px;
	background-color: #c66;
	color: #fff;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
	font-size: 12px;
	border-radius: 3px;
  }
  .product .remove-product:hover {
	background-color: #a44;
  }
   
  /* Totals section */
  .totals .totals-item {
	float: right;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
  }
  .totals .totals-item label {
	float: left;
	clear: both;
	width: 79%;
	text-align: right;
  }
  .totals .totals-item .totals-value {
	float: right;
	width: 21%;
	text-align: right;
  }
  .totals .totals-item-total {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
   
  .checkout {
	float: right;
	border: 0;
	margin-top: 20px;
	padding: 6px 25px;
	background-color:orangered;
	color: #fff;
	font-size: 25px;
	border-radius: 3px;
  }
   
  .checkout:hover {
	background-color: #494;
  }
   
  /* Make adjustments for tablet */
  @media screen and (max-width: 650px) {
	.shopping-cart {
	  margin: 0;
	  padding-top: 20px;
	  border-top: 1px solid #eee;
	}
   
	.column-labels {
	  display: none;
	}
   
	.product-image {
	  float: right;
	  width: auto;
	}
	.product-image img {
	  margin: 0 0 10px 10px;
	}
   
	.product-details {
	  float: none;
	  margin-bottom: 10px;
	  width: auto;
	}
   
	.product-price {
	  clear: both;
	  width: 70px;
	}
   
	.product-quantity {
	  width: 100px;
	}
	.product-quantity input {
	  margin-left: 20px;
	}
   
	.product-quantity:before {
	  content: 'x';
	}
   
	.product-removal {
	  width: auto;
	}
   
	.product-line-price {
	  float: right;
	  width: 70px;
	}
  }
  /* Make more adjustments for phone */
  @media screen and (max-width: 350px) {
	.product-removal {
	  float: right;
	}
   
	.product-line-price {
	  float: right;
	  clear: left;
	  width: auto;
	  margin-top: 10px;
	}
   
	.product .product-line-price:before {
	  content: 'Item Total: $';
	}
   
	.totals .totals-item label {
	  width: 60%;
	}
	.totals .totals-item .totals-value {
	  width: 40%;
	}
  }
  .totals-item totals-item-total{
	  font-size: 60px;
  }
  h1.title{
	  margin-top: 80px;
	  color: orangered;
  }