@charset "utf-8"
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #ffffff;
	color: #1e1e27;	
}

a {
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin-bottom: 0px;
}
ul li {
	list-style: none;
}
.super_container {
	width: 100%;
	overflow: hidden;
}
/*Home*/
					/*Navigation*/
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;			//default is 16px -->  62.5% x 16 = 10 -->1rem =10  / 2rem =20
}
.container {
  max-width: 1140px;                                  /*114x10 =  1140px*/
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 3px;
  }																/*define width for container - media queries*/
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}

/*Navigation*/
.container {
  max-width: 1140px;                                  /*114x10 =  1140px*/
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }																/*define width for container - media queries*/
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
.navigation{
	padding:  16px 0;    /*1.6 x 10 = 16px*/

}

.nav-center{
	display: flex;
  	align-items: center;
  	justify-content: space-between;
}		

.logo{
	color: #1e1e27;
}	
.logo span{
	color: #fe4c50;
}	

.nav-top{
	display: none;
}

.nav-list{
	display: flex;
	align-items: center;
}

.navigation {
  position: fixed;														
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-item:not(:last-child){
	margin-right: 5px;  				/*0.5x10=5px*/

}
.nav-item{
	padding: 0 10px;
}

.nav-link{
	position: relative;
	display: inline-block;
	padding: 5px 0 2px;
	font-size: 15px;
	color: #222;
	text-transform: uppercase;
	transition: all 500ms ease-in-out;
}

.nav-link::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	top: 100%;
	left: 0;
	background-color: #f60091;
	transition: transform 500ms;
	transform: scaleX(0);					/*scalex decrease or increase width*/
	transform-origin: top;	
}
.nav-link:hover::after{
	transform: scaleX(1);
	transform-origin: left;
}


.nav-icons span:not(:last-child){
	margin-right: 5px;
}
.nav-icons span{
	font-size: 16px;
	border-radius: 50%;
	border: 1px solid #444;
	padding: 3px 7px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
.nav-icons span a{
	color: black;									/*set the icon to black*/
}
.nav-icons span:hover{
	background-color: #f60091;
}


/*.checkout_items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;						
	top: 10px;
	left: 1192px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fe4c50;
	font-size: 12px;
	color: #ffffff;
}*/



.nav-icons .fas{
	transition: all 300ms ease-in-out;
}
.nav-icons span:hover .fas{
	color: #fff;
}

.hamburger{
	display: none;										/*hide the hamburger until the width is <=768px*/
}


										/*Navbar responsive*/							

@media only screen and (max-width: 996px){
	.nav-item:not(:last-child){
		margin-right: 3px;
	}
	.nav-item{
		padding: 0 5px;
	}

	.nav-link{	
	font-size: 14px;
	}
	.nav-icons span{
		font-size: 12px;
		padding: 3px 7px;
	}

}

@media only screen and (max-width: 768px){								/*hamburger change*/
	.navigation.show{
		background-color: rgba(0, 0, 0, 0.6);
	}

	.nav-menu{
		position: fixed;
		top: 0;
		left: -100%;
		width: 80%;
		height: 100vh;
		z-index: 9990;
		background-color: #fff;
		transition: all 500ms linear;
	}


	.nav-menu.show{
		left: 0;
	}

	.nav-list{
		flex-direction: column;
		align-items: start;
		padding: 20px 0;
	}

	.nav-top{													/*Push the logo*/
		display: flex;
		 justify-content: space-between;
		 align-items: center;
		 background-color: #ffd800;
		 padding: 16px 20px;
	}

	.nav-top .logo h1{
		font-size: 18px;
		font-weight: 500;
	}

	.nav-top .logo span{
		color: #fe4c50;
	}
	.hamburger{
		display: block;
		font-size: 25px;
		cursor: pointer;
	}

	.close{
		font-size: 20px;
		color: #fff;
		cursor: pointer;
	}

	.nav-item:not(:last-child){
		margin-bottom: 10px;
	}

	.nav-link{
		font-size: 18px;
		width: 100%;
		padding: 10px 20px;
	}
	.nav-icons span{
		display: none;
		border: none;
		font-size: 16px;
	}
	.nav-icons span:last-child{
		display: block;
	}

	body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
}
	/*Product*/
.all {
	margin: 100px auto 0;
	width: 1500px;
}
hr {
	width: 10000px;
}
.items ul li {
	display: inline-block;
}
.items {
	margin-left: 245px;
}
.main-product-image { 
	width: 40%;
	background-repeat:no-repeat ;
	background-position:center ;
	background-size: cover;	
	padding-left: 70px;
}
.main-product-info h1 {
	font-size: 35px;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}
.main-product-info {
	width: 60%;
	padding: 10px;
}
.main-product-info p,ul,li  {
	font-size: 17px;
	margin-bottom: 5px;
	margin-left: -1px;
}
.main-product-info p {
	margin-bottom: 10px;
}
.saleoff {
	text-decoration: line-through;
	padding-right: 20px;
}
.price p {
	color: red;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0;
	display: inline;
}
.product-color p {
	margin-bottom: 10px;
	margin-left: 1px;
}
.product-color input[type="submit"] {
	width: 110px;
	height: 40px;
	margin: 0 5px;
	font-size: 16px;
	transition: all 300ms ease-in-out;
	border-radius: 12px;
	cursor: pointer;
	margin-left: -2px;
	margin-bottom: 10px;
}
.product-color input[value="Pink"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Pink"]:hover {
	background-color: pink;
}
.product-color input[value="Pink"]:focus {
	background-color: pink;
}
.product-color input[value="Starlight"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Starlight"]:hover {
	background-color: #d7dfe1;
}
.product-color input[value="Starlight"]:focus {
	background-color: #d7dfe1;
}
.product-color input[value="Coral"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Coral"]:hover {
	background-color: #ff7f50;
}
.product-color input[value="Coral"]:focus {
	background-color: #ff7f50;
}
.product-color input[value="Spacegrey"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Spacegrey"]:hover {
	background-color: #65737e;
}
.product-color input[value="Spacegrey"]:focus {
	background-color: #65737e;
}
.product-color input[value="Midnight"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Midnight"]:hover {
	background-color: #2B333D;
}
.product-color input[value="Midnight"]:focus {
	background-color: #2B333D;
}
.product-color input[value="Yellow"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Yellow"]:hover {
	background-color: yellow;
}
.product-color input[value="Yellow"]:focus {
	background-color: yellow;
}
.product-color input[value="Purple"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Purple"]:hover {
	background-color: blueviolet;
}
.product-color input[value="Purple"]:focus {
	background-color: blueviolet;
}
.product-color input[value="Green"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Green"]:hover {
	background-color: Green;
}
.product-color input[value="Green"]:focus {
	background-color: green;
}
.product-color input[value="Black"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Black"]:hover {
	background-color: black;
	color: white;
}
.product-color input[value="Black"]:focus {
	background-color: black;
	color: white;
}
.product-color input[value="White"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="White"]:hover {
	background-color: white;
	color: black;
}
.product-color input[value="White"]:focus {
	background-color: white;
	color: black;
}
.product-color input[value="Blue"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Blue"]:hover {
	background-color: #2B78B3;
	color: black;
}
.product-color input[value="Blue"]:focus {
	background-color: #2B78B3;
	color: black;
}
.product-color input[value="Red"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Red"]:hover {
	background-color: red;
	color: black;
}
.product-color input[value="Red"]:focus {
	background-color: red;
	color: black;
}
.product-color input[value="Graphite"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Graphite"]:hover {
	background-color: #383428;
}
.product-color input[value="Graphite"]:focus {
	background-color: #383428;
}
.product-color input[value="Silver"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Silver"]:hover {
	background-color: silver;
}
.product-color input[value="Silver"]:focus {
	background-color: silver;
}
.product-color input[value="Gold"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Gold"]:hover {
	background-color: gold;
}
.product-color input[value="Gold"]:focus {
	background-color: gold;
}
.product-color input[value="Pacific Blue"] {
	background-color: white;
	color: black;
	border: 1px solid silver;
}
.product-color input[value="Pacific Blue"]:hover {
	background-color: #0099CC;
}
.product-color input[value="Pacific Blue"]:focus {
	background-color: #0099CC;
}
.main-product {
	display: flex;
	padding: 10px;
	font-family: sans-serif;
}
a button {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 180px;
  height: 55px;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a button:hover {
	background-color: blue;
}
.bonus {
	border: 1px solid black;
	margin-top: 5px;
	border-radius:5px ;
	width: 85%;
}
.bonus h2 {
	color:  white;
	background: #4890E1;
	font-size: 20px;
	font-weight: bold;
	text-indent: 10px	;
}
.bonus p {
	margin-left: 20px;
	font-size: 17px;
}
.all-detail {
	border: 1px solid #D1C8D7;
	border-radius: 20px;
	display: inline-block;
	width: 90%;
	margin-top: -10px;
	margin-left: 80px;
}
.detail {
	margin: 0 auto;
}
.detail h1,p {
	margin: 2px 1%;
	color: black;
	margin-bottom: 7px;
}
.detail h1{
	text-transform: uppercase;
	font-size: 30px;
	font-size: 20px;
}
.detail p {
	font-size: 17px;
	color: black;
}
.img-all-detail {
	display: flex;
	width: 98%;
	height: 650px;
	margin: 10px;
}

.footer{
	background-color: black;
	padding: 60px 10px 10px 10px;
	line-height: 30px;
	margin-top: 50px;
}									

.footer-center span{
	 margin-right: 10px;
}	
.footer-container{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	color: #fff;
}
.footer-center a:link, .footer-center a:visited{
	display: block;
	color: grey;
	font-size: 14px;
	transition: 600ms;
}
.footer-center a:hover{
	color: red;
}
.footer-center div{
	font-size: 14px;
}
.footer-center h3{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}
.footer .social-media {
	margin-top: 20px;
	text-align: right;
	margin-right: -30px;
}
.footer .icon h3{
	display: inline;
	color: #fff;
}
.footer .icon a{
	margin-left: 30px;
}
.footer .icon i{
	font-size: 30px;
	color: #fff;
	transition: all 300ms ease-in-out;
}

.footer .icon i:hover{
	color: red;
}


@media only screen and (max-width: 768px){
	.footer-container{
		grid-template-columns: repeat(2,1fr);
		row-gap: 20px;																	/*set gap between rows in flexbox*/
	}
}

@media only screen and (max-width: 567px){
	.footer-container{
		grid-template-columns: repeat(1,1fr);
	}
	.footer .icon a{
		margin-left: 10px;
	}
}
/*Swiper*/
.swiper-slide {
	text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  margin-left: 160px;
}
/*Tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
	.main-product {
		flex-direction: column;
		text-align: center;
		margin-left: 70px;
	}
	.all-detail {
		width: 50%;
		margin-left: 120px;
	}
	.bonus {
	  width: 90%;
	  margin-left: 40px;
	}
	hr {
		width: 100%;
	}
	.main-product-info h1 {
		font-size: 35px;
		font-weight: bold;
		border-bottom: 1px solid black;
	}
	.items {
		display: none;
	}
}
@media only screen and (min-width: 100px) and (max-width: 740px) {
	.main-product {
		flex-direction: column;
		text-align: center;
	}
	.all-detail {
		width: 43%;
		margin-left: 50px;
	}
	.bonus {
		width: 96%;
	}
	.main-product-info {
		width: 50%;
		margin-left: -10px;
	}
	hr {
		width: 100%;
	}
	.product-color {
		width: 95%;
	}
	.items {
		display: none;
	}
	.swiper {
		margin-left: -20px;
	}
}