
.cskh_nav{
	margin-top: 100px;

}
#policy{
	text-transform:  uppercase;
	text-align:  center;
	font-weight:  bold;
	font-size: 50px;
	color: #FF3333;
}
.phan {
	text-decoration-line: underline;
	font-weight: bold;
	font-size: 25px;
}

td{
	width: 94px;
	height:  30px;
}

.ten{
	font-weight: bold;
	text-align: center;
}
table{
	border:5px solid red;
	margin: 50px;

}
#a {
	text-decoration: underline;
	font-weight: bold;
	color:  #FF3333;
}
img{
	margin: 50px;
}
.phannho{
	font-weight: bold;
	color:  #FF3333;
}
#way{
	font-weight: bold;
}
b{
	color: #FF3333;
}
#car{
	margin-top: 0;
	width: 1000px;
}
#table{
	text-align: center;
	margin: 25px auto;
}
main {
	width: 100%;
}
.container {
	margin: 0 auto;
}
section.cart {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}    @media (min-width: 740px) and (max-width: 1239.5px) {
        main {
            padding: 0 30px;
        }
    }
    
    @media (max-width: 739.5px) {
        main {
            padding: 0 30px;
        }
        #table {
            padding: 12px 20px;
        }
    }

table {
    width: 100%;
}
table thead tr th:first-of-type {
    text-align: left;
    padding-left: 30px;
}
sup {
    color: red;
}
section.cart {
    position: fixed;
    top: 0;
    height: 800px;
    width: 400px;
    background-color:   rgba(255,150,197,0.9);
    padding: 12px 20px;
    margin-top: 70px;
    overflow-y: scroll;
    right: -100%;
}
section.cart i {
    cursor: pointer;
    margin-bottom: 10px;
}
.purchase-cart {
    background-color: red;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.purchase-cart:hover {
    background-color: blue;
}
table tbody tr td {
    font-size: 12px;
}